* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

:root {
    --fb-blue: #0a86f0;
    --fb-black: #090909;
    --fb-red: #ee2340;
    --fb-green: #3db557;
    --fb-yellow: #f6b023;
    --fb-bgcolor: #eef0f3;
    --fb-white: #fff;
    --fb-whitebg: #fff;
    --dark-color-text: #090909;
    --light-color-text: #606770;
    --button-link: #e0e2e8;
    --stories-bg: #090909;
}

body {
    background-color: var(--fb-bgcolor);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fb-black);
}

header{
    background: var(--fb-whitebg);
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
}

.header__logo-section {
    display: flex;
}

.header_logo-icon .fa-facebook {
    font-size: 40px;
    color: var(--fb-blue);
}

.header_logo-search {
    position: relative;
    margin-left: 13px;
}

.header_logo-search .fa-search {
    position: absolute;
    color: var(--light-color-text); 
    top: 15px;
    left: 12px;
}

.header_logo-search input[type="text"] {
    background: var(--fb-bgcolor);
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 25px;
    padding-left: 30px;
    color: var(--light-color-text);
    border: none;
    font-weight: 300;
}